body {
	font-family: "montserrat";
	font-weight: 400;
	background-color: #edf1f2;
}

@import "fonts";
@import "mixins";
@import "variables";
@import "blocks/select";
@import "blocks/input-text";
@import "blocks/header";
@import "blocks/menubar";
@import "blocks/navpromo";
@import "blocks/featured";
@import "blocks/card";
@import "blocks/visually-hidden";
