.daily__wrapper {
	@include wrapper;
	margin-top: 20px;
	margin-bottom: 20px;
}

.daily__header {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 78px;
	border-bottom: 1px solid $greyborder;
	box-sizing: border-box;
}

.daily__btn {
	width: 33px;
	height: 33px;
	background-color: #62bf43;
	box-sizing: border-box;
	display: block;
	float: right;
	margin-right: 5px;
	position: relative;
	cursor: pointer;

	&:active {
		background-color: darken(#62bf43, 20%);
	}

	&:hover {
		background-color: lighten(#62bf43, 20%);
	}

	&::before {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		box-sizing: border-box;
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		left: 10px;
		top: 12px;
		transform: rotate(-45deg);
	}

	&--prev {
		transform: scale(-1);
	}
}

.daily__label-container {
	height: 45px;
	box-sizing: border-box;
	margin: 0 auto;
	width: 78px;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.daily__toggles-bar {
	width: 100%;
	position: absolute;
	height: 46px;
	box-sizing: border-box;
	border-top: 1px solid $greyborder;
	background-color: #fff;
	bottom: -1px;
}

//SLIDER TOGGLES
#daily__toggle1:checked ~ .daily__label-container label[for="daily__toggle1"],
#daily__toggle2:checked ~ .daily__label-container label[for="daily__toggle2"],
#daily__toggle3:checked ~ .daily__label-container label[for="daily__toggle3"],
#daily__toggle4:checked ~ .daily__label-container label[for="daily__toggle4"],
#daily__toggle5:checked ~ .daily__label-container label[for="daily__toggle5"] {
	background-color: #6e747a;
	border-color: #6e747a;
}

//CARDS

.daily__showcase-flex {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: flex-start;
}

.daily__card {
	width: 25%;
	display: block;
	box-sizing: border-box;
	height: 299px;
	border-right: 1px solid $greyborder;
	margin-bottom: 46px;
	position: relative;
	cursor: pointer;

	&:hover {
		outline: 1px solid #f9ad0b;
	}
}

.daily__img-container {
	margin-bottom: 22px;
	padding-top: 25px;
}

.daily__img {
	display: block;
	margin: 0 auto;
}

.daily__title {
	margin: 0 auto;
	padding: 0;
	width: 184px;
	display: block;
	color: #202326;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	margin-bottom: 22px;
}

.daily__price {
	color: #202326;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.daily__old-price {
	text-decoration: line-through;
	color: #a3a9ad;
}
