.featured__wrapper {
	@include wrapper;
	margin-top: 15px;
	background-color: #fff;
	margin-bottom: 20px;
}

.featured__header {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 70px;
}

.featured__showcase-flex {
	padding: 30px;
	padding-bottom: 5px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	border: 1px solid #dde2e6;
	box-sizing: border-box;
}
