.navpromo {
	padding: 0;
	margin: 0;
	display: block;
}

.navpromo__wrapper {
	width: 1200px;
	display: block;
	box-sizing: border-box;
	padding-left: 18px;
	padding-right: 18px;
	margin: 0 auto;
	min-height: 465px;

	&::after {
		display: table;
		height: 1px;
		clear: both;
	}
}

.navpromo__slider {
	width: 875px;
	min-height: 449px;
	float: right;
	margin-top: 15px;
	position: relative;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}


.navpromo__slider-list {
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
}

.navpromo__img-container {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;

	&--sellings {
		z-index: 15;
	}

	&--shoes {
		z-index: 10;
	}

	&--laptops {
		z-index: 5;
	}
}

.navpromo__slider-img {
	height: auto;
	width: 100%;
}

//BUTTONS
.navpromo__switcher {
	display: none;
}

.navpromo__label-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 54px;
	box-sizing: border-box;
	border-top: 1px solid #f0f0f0;
	display: flex;
	background-color: #fff;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1000;
}

.navpromo__label {
	height: 54px;
	color: #4b4b4b;
	font-size: 14px;
	font-weight: 300;
	line-height: 54px;
	text-align: center;
	text-transform: capitalize;
	display: block;
	width: 135px;
	border-bottom: 2px solid transparent;

	&:hover {
		color: lighten(#4b4b4b, 20%);
		cursor: pointer;
	}
}

#navpromo__switcher-1:checked ~ .navpromo__label-container .navpromo__label--1,
#navpromo__switcher-2:checked ~ .navpromo__label-container .navpromo__label--2,
#navpromo__switcher-3:checked ~ .navpromo__label-container .navpromo__label--3,
#navpromo__switcher-4:checked ~ .navpromo__label-container .navpromo__label--4,
#navpromo__switcher-5:checked ~ .navpromo__label-container .navpromo__label--5,
#navpromo__switcher-6:checked ~ .navpromo__label-container .navpromo__label--6 {
	border-bottom: 2px solid #86b817;
}

#navpromo__switcher-1:checked ~ .navpromo__slider-list .navpromo__img-container--sellings,
#navpromo__switcher-2:checked ~ .navpromo__slider-list .navpromo__img-container--laptops,
#navpromo__switcher-3:checked ~ .navpromo__slider-list .navpromo__img-container--shoes,
#navpromo__switcher-4:checked ~ .navpromo__slider-list .navpromo__img-container--sellings,
#navpromo__switcher-5:checked ~ .navpromo__slider-list .navpromo__img-container--laptops,
#navpromo__switcher-6:checked ~ .navpromo__slider-list .navpromo__img-container--shoes {
	z-index: 500;
}
